body {
  background-color: azure;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

/* Gaya CSS untuk Nama dan Kelas */
#nama {
    background-color: azure;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }

#background-box {
  background-color: azure;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

h1 {
  color: red; 
}

#question {
  font-size: 24px;
  margin-bottom: 20px;
}
#answer {
  font-size: 24px;
  width: 200px;
}

#submit {
  font-size: 24px;
  background-color: red;
  padding: 10px 20px; 
  border: none;
  color: white; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  margin-top: 10px;
  margin-left: 20px;
}

#submit:hover {
  background-color: darkred;
}

#result {
  font-size: 24px;
  margin-top: 20px;
}

#next {
  font-size: 24px;
  display: none;
  background-color: red; 
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
